<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
    <h1>Write a new Chat</h1>
    <div class="newchat">
        <form method="POST" action="/chats">
            <input placeholder="who are you ?" name="from"> <br>
            <textarea name="message"></textarea> <br>
            <input placeholder="add reciever" name="to">
            <button onclick="">Create</button>
        </form>
    
    </div>
</body>
</html>